.count-box{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 1rem;
    background-color:rgba(21, 116, 139, 0.493);
    width: 200px;
    border-radius: 5px;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: stretch;
}

.plus-button, .less-button{
    display: flex;
    width: 1.8rem;
    font-size: 2rem;
    border-radius: 5px;
    align-items: center;
}

.buy-button{
    font-size: 1.2rem;
}