/* Carrito Vacio */

.go-tobuy{
    display: flex;
    border: black solid 4px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: rgba(56, 131, 198, 0.387);
    font-size: 2rem;
    margin: 1rem;
    padding: .5rem;
    align-items: center;
}

.go-tobuy:hover{
    background-color: black;
    color: white;
}

.empty-mssg{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color: black;
    align-items: center;
}

/* Productos en carrtio */

.cart-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: rgba(74, 85, 209, 0.524);
    border-radius: 10px;
    padding: 1.5rem; 
}
.cart-box{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-items: center;
}

/* Botones de compra */

.total-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.6rem;
    background-color: aliceblue;
    margin-left: 34rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: black;
}

.payment-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
    
}

.empty-button{
    border-radius: 8px;
    padding: .5rem;
    font-size: 1rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.707);

}

.buy-button{
    padding: .5rem;
    color: white;
    background-color: rgba(13, 111, 196, 0.732);
    border: solid rgba(32, 102, 76, 0.544) 4px;
    border-radius: 8px;
}