.product-box{
    height: 370px;
    width: 220px;
    background-color: rgba(117, 128, 137, 0.546);
    border: solid black .10rem;
    border-radius: 15px;
}

.img-box{
    margin: .5rem;
    height: 190px;
    width: 190px;
    border-radius: 15px;
    padding-left: .5rem;
}

.name-box{
    margin-top: 1rem;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 2px white;
    display: flex;
    font-size: 1.5rem;
}
p{
    padding-left: .9rem;
    font-weight: 500;
}

.precio-box{
    text-align: right;
    font-weight: 800;
    padding-right: 1rem;    
}

.detail-boton{
    display: flex;
    width: 80px;
    height: 33px;
    align-items: center;
    margin-top: .7rem ;
    margin-left: 7.9rem ;
    border: solid grey;
    background-color: rgb(67, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
}

